@model Student 

<div class="card" style="width:350px">
  
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text">@Model.Address - @Model.Address</p>
        <a href="/trainee/index" class="btn btn-primary">See Profile</a>
       
    </div>
</div>